html {
	line-height: inherit;
	font-weight: 200;
	font-family: "Arial", sans-serif;
	-webkit-text-size-adjust: 100%;
	background: #DDD;
	padding: 1em;
}

body {
	background: #FFF;
	box-shadow: -1px 1px 2px -1px rgba(0, 0, 0, 0.4);
	margin: 0 auto;
	border-radius: 2px;
}

.outer-container {
	display: flex;
	flex-direction: row;
	border-top: 2px solid #066ea3;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

hr {
	width: -webkit-fill-available;
	opacity: 0.2;
}

:focus {
	outline: none;
}

.row {}

.col {
	width: calc(25% - 1.25em);
	padding: 1em;
	padding-right: 0;
	padding-top: 0;
}

.col.last {
	padding: 1em;
	padding-top: 0;
}

input {
	text-align: left;
	padding: 4px 12px;
	margin: 0 0 0.25em 0;
	-webkit-appearance: none;
	appearance: none;
	color: #232323;
	font-size: 0.6em;
	background: transparent;
	border-radius: 0.125em;
	border: 1px solid rgba(0, 0, 0, 0.1);
	overflow-x: hidden;
	text-overflow: ellipsis;
}

input:hover,
input:focus,
input:active {
	color: #FFF;
	background: #066ea3;
	border: 1px solid #066ea3;
	box-shadow: 0px 1px 4px -2px rgba(0, 0, 0, 0.4);
}


/*
  Tabbed Content
*/


/* Style the tab */

div.tab {
	overflow: hidden;
	box-shadow: 0px 2px 8px -6px rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}


/* Style the buttons inside the tab */

div.tab button {
	color: rgba(0, 0, 0, 0.5);
	background-color: inherit;
	border: 2px solid transparent;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	font-size: 1.125em;
	font-weight: 200;
	width: 100%;
}


/* Change background color of buttons on hover */

div.tab button:hover {
	background-color: rgba(0, 0, 0, 0.025);
	color: rgba(0, 0, 0, 0.75);
}


/* Create an active/current tablink class */

div.tab button.active {
	border-bottom-color: #066ea3;
	color: #066ea3;
}


/* Style the tab content */

.tabcontent,
.introTabbedContent,
.secondTabbedContent,
.thirdTabbedContent,
.fourthTabbedContent {
	display: flex;
	padding-top: 1em;
	flex-direction: column;
	-webkit-animation: fadeEffect 0.4s;
	animation: fadeEffect 0.4s;
}


/* Fade in tabs */

@-webkit-keyframes fadeEffect {
	from {
		opacity: 0;
		margin-top: 1.5em;
	}
	to {
		opacity: 1;
		margin-top: 0;
	}
}

@keyframes fadeEffect {
	from {
		opacity: 0;
		margin-top: 1.5em;
	}
	to {
		opacity: 1;
		margin-top: 0;
	}
}
