/*
Normalize
*/
html {
	line-height: inherit;
	font-weight: 200;
	font-family: "Helvetica", sans-serif;
}
body {
	background: #F9F9F9;
    color: #232323;
    padding: 0;
	margin: 0;
}
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  margin: 0;
}
ul, 
ol, 
li {
  list-style: none;
  list-style-type: none;
}
/*
Base
*/
/*
Footer
*/
/*
Media Queries
*/